<template>
    <div class="converation-list">
        <ul class="list">
            <li v-for="contact in contacts" :key="contact.id" @click="contactSelected(contact)" :class="`${selectedContact && selectedContact.id == contact.id ? 'selected' : ''}`">
                <div class="row" :key="contact.id">
                    <div class="col-md-3">
                        <img :src="asset + '/' + contact.profile_picture" :alt="contact.first_name">
                    </div>
                    <div class="col-md-7" style="padding: 0;">
                        {{ contact.email }} <br>
                        {{ contact.first_name }} {{ contact.last_name }} <span v-if="contact.unread"> - <span class="badge badge-dark">{{ contact.unread }}</span></span>
                    </div>
                    <div class="col-md-1" style="font-size: 40px; padding: 0;" :class="`${contact.active ? 'online' : 'offline'}`">
                        •
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        contacts: {
            type: Array,
            default: []
        },
        asset: {
            required: true,
            type: String
        }
    },
    data(){
        return {
            selectedContact: null
        }
    },
    methods: {
        contactSelected(contact){
            this.selectedContact = contact;
            this.$emit('contactSelected', contact);
        }
    },
    created(){
        //
    }
}
</script>

<style scoped>
     li {
        list-style-type: none;
        border-bottom: 1px solid lightgray;
        padding: 7px;
        width: 100%;
        cursor: pointer;
    }

    .selected {
        background: #c6c7c5a1;
    }

    ul {
        padding: 0;
    }

    img {
        height: 45px;
        width: 45px;
        border-radius: 50%;
    }

    .online {
        color: green;
    }

    .offline {
        color: grey;
    }
</style>
