<template>
    <div class="conversation col-md-9">
        <h3 class="name-header">{{ contact ? contact.first_name + ' ' + contact.last_name : 'Select Contact' }} <span v-if="contact" style="float: right"> <span style="font-size: 32px; padding: 0;" :class="`${contact.active ? 'online' : 'offline'}`">•</span> {{ contact.active ? 'Online' : 'Offline' }} </span></h3>
        <MessageFeed class="side-bar" id="style-1"  :user="user" :messages="messages"></MessageFeed>
        <MessageComposer :placeholder="placeholder" :disabled="messageDisable" @send="sendMessage"></MessageComposer>
    </div>

</template>

<script>

import MessageFeed from './MessageFeed';
import MessageComposer from './MessageComposer';

export default {
    components: {MessageFeed, MessageComposer},
    props: {
        contact: {
            type: Object,
            default: null
        },
        messages: {
            type: Array,
            default: []
        },
        user: {
            type: Object,
            required: true
        }
    },
    data(){
        return {
            placeholder: 'Type Message...',
            messageDisable: false
        }
    },
    methods: {
        sendMessage(message){
            if(!this.contact)
                return;
            this.placeholder = 'Sending....';
            this.messageDisable = true;
            axios.post(route('message.send', {id: this.contact.id}), {message: message})
                .then((response) => {
                    this.$emit('messageSend', response.data);
                    this.placeholder = "Type Message...";
                    this.messageDisable = false;
                })
                .catch((error) => {
                    this.placeholder = "Type Message...";
                    this.messageDisable = false;
                    this.flashMessage.error({title: 'Error Occur', message: error});
                });
        }
    }
}
</script>

<style scoped>
    .conversation {
        position: relative;
    }

    .side-bar {
        position: absolute;
        max-height: 80%;
        overflow: scroll;
        overflow-x: hidden;
        right: 0;
        left: 0;
    }

    #style-1::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #style-1::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }

    #style-1::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }

    .name-header {
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
    }

    .online {
        color: green;
    }

    .offline {
        color: grey;
    }
</style>
