<template>
    <div class="message-composer">
        <textarea class="form-control" autofocus ref="messageBox" :placeholder="placeholder" :disabled="disabled" v-model="message" @keydown.enter.prevent="send"></textarea>
    </div>
</template>

<script>
export default {
    props: {
        placeholder: {
            type: String,
            required: true
        },
        disabled: {
            type: Boolean,
            required: true
        }
    },
    data(){
        return {
            message: ''
        }
    },
    methods: {
        send(){
            if(this.message.trim().length == 0){
                this.message = '';
                return;
            }
            this.$emit('send', this.message);
            this.message = '';
        }
    },
    mounted(){
        this.$refs.messageBox.focus();
    },
    watch: {
        disabled(condition){
            if(!condition){
                this.$nextTick(() => {
                    this.$refs.messageBox.focus()
                });
            }
        }
    }
}
</script>

<style scoped>
    textarea {
        width: 100%;
        resize: none;
        padding: 8px;
        outline: none;
    }

    .message-composer {
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      z-index: 1;
    }


</style>
