<template>
    <ul class="message-feed" ref="feed">
        <transition-group name="bounce">
            <li v-for="message in messages" :key="message.id" :class="`${message.from == user.id ? 'send' : 'receive'}`">
                {{ message.message }}
                <br>

                <span :class="`${message.from == user.id ? 'time-send' : 'time-receive'}`"><sub>{{ message.created_at_formatted }}</sub></span>
            </li>
        </transition-group>
    </ul>
</template>

<script>

export default {
    props: {
        messages: {
            type: Array,
            default: []
        },
        user: {
            required: true,
            type: Object
        }
    },
    methods: {
        convertDate(mysql_string){

            var t, result = null;

            if( typeof mysql_string === 'string' )
            {
                t = mysql_string.split(/[- :]/);

                //when t[3], t[4] and t[5] are missing they defaults to zero
                result = new Date(t[0], t[1] - 1, t[2], t[3] || 0);
            }

            return result.toString();
        },
        scrollToBottom(){
            this.$nextTick(() => {
                this.$refs.feed.scrollTop = this.$refs.feed.scrollHeight - this.$refs.feed.clientHeight;
            });
        }
    },
    watch: {
        messages(messgaes){
            this.scrollToBottom();
        }
    }
}
</script>

<style scoped>

    li {
        list-style-type: none;
        padding: 0;
        padding: 10px;
        margin: 7.5px 0;
        border-radius: 10px;
        display: block;
    }

    ul {
        padding: 0;
    }

    .send {
        text-align: left;
        background: lightgrey;
    }

    .receive {
        text-align: right;
        background: lightblue;
    }

    .time-send {
        text-align: right;
    }

    .time-receive {
        text-align: left;
    }

    .bounce-enter-active {
        animation: bounce-in .5s;
    }
    .bounce-leave-active {
        animation: bounce-in .5s reverse;
    }
    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
</style>
