<template>
    <div class="message-feed">
        <div class="container message-composer" style="z-index: -1;">
            <ul ref="feed" style="height: 70vh; overflow: scroll;">
                <transition-group name="bounce">
                    <li v-for="message in messages" :key="message.id" :class="`${message.from == user.id ? 'send' : 'receive'}`">
                        {{ message.message }}
                         <br>

                <span :class="`${message.from == user.id ? 'time-send' : 'time-receive'}`"><sub>{{ message.created_at_formatted }}</sub></span>
                    </li>
                </transition-group>
            </ul>
            <!-- <button style="margin-bottom: 50px;" class="btn btn-primary btn-sm">Sending</button> -->
            <div class="row" style="width: 100%;">
                <div class="col-10" style="padding: 0; padding-left: 20px;">
                    <textarea v-model="message" name="" class="form-control" style="padding: 5px;" id="" placeholder="Message..."></textarea>
                </div>
                <div style="padding: 0; padding-left: 5px; padding-top: 10px;" class="col-2">
                    <button @click="sendMessage" :disabled="disabled" class="btn btn-sm btn-primary">{{ buttonText }}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        messages: {
            type: Array,
            required: true
        },
        user: {
            type: Object,
            required: true
        },
        contact: {
            type: Object
        }
    },
    data(){
        return {
            message: '',
            buttonText: 'Send',
            disabled: false
        }
    },
    beforeDestroy(){

        eventBus.$off("sent");
    },
    created(){
        if(!this.contact){
            this.$router.push({path: '/'});
            return;
        }
        this.scrollToBottom();
        eventBus.$on('sent', () => {
            this.buttonText = 'Send';
            this.disabled = false;
        });
    },
    methods: {
        sendMessage(){
            if(this.messages && this.message.trim().length > 0){
                this.buttonText = "Sending...";
                this.disabled = true;
                eventBus.$emit('sendMessage', this.message);
                this.message = '';
            }
        },
        scrollToBottom(){
            this.$nextTick(() => {
                this.$refs.feed.scrollTop = this.$refs.feed.scrollHeight - this.$refs.feed.clientHeight;
            });
        }
    },
    watch: {
        messages(messages){
            this.scrollToBottom();
        }
    }
}
</script>

<style scoped>

    .message-composer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    textarea {
        width: 100%;
        resize: none;
        outline: none;
    }

    li {
        list-style-type: none;
        padding: 0;
        padding: 10px;
        margin: 7.5px 0;
        border-radius: 10px;
        display: block;
    }

    ul {
        padding: 0;
    }

    .send {
        text-align: left;
        background: lightgrey;
    }

    .receive {
        text-align: right;
        background: lightblue;
    }

    .time-send {
        text-align: right;
    }

    .time-receive {
        text-align: left;
    }

    .bounce-enter-active {
        animation: bounce-in .5s;
    }
    .bounce-leave-active {
        animation: bounce-in .5s reverse;
    }
    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
</style>

