/* Tribe Events
------------------------------------------------------------------------------------ */

/* Hide Tribe breadcrumbs - our more comfortable */
p.tribe-events-back { display:none; }

/* Main template */
#tribe-events-pg-template,
.events-list .tribe-events-loop, .tribe-events-day .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .single-tribe_organizer .tribe-events-loop { max-width:none; }
.tribe-events-day .tribe-events-day-time-slot .vevent { margin-left:0; }

/* Titles */
.tribe-events-meta-group .tribe-events-single-section-title { padding-bottom:0; }
h2.tribe-events-page-title, #tribe-geo-results h2.tribe-events-page-title { font-weight:400; padding-bottom:0; }
.tribe-events-list-separator-month { font-weight:400; }
#tribe-events-header { display:none; }
.tribe-events-list .type-tribe_events h2 { font-size: 3em; }

/* Buttons and fields */
#tribe-bar-form input[type="text"],
.tribe-events-button, #tribe-events .tribe-events-button { font-weight:400; }
ul.tribe-events-sub-nav a, .tribe-events-back a, .tribe-events-list-widget .tribe-events-widget-link a, .tribe-events-adv-list-widget .tribe-events-widget-link a {
	font-weight:400;
	font-size:inherit;
}
.single-tribe_events #tribe-events-header li, .single-tribe_events #tribe-events-footer li { width:auto; }

/* Featured image */
.single-tribe_events .tribe-events-event-image {
    /*float: right;*/
    /*margin: 0 0 2em 2em;*/
    max-width: 50%;
}

/* Event details */
.tribe-events-event-meta .author { margin-bottom:0; }
.tribe-events-venue-details .author:after { display:none; }
a.tribe-events-ical, a.tribe-events-gcal { margin-top:0; }
.tribe-events-loop .tribe-events-event-meta,
.tribe-events-tooltip .duration { font-weight:400; }

/* Event footer */
#tribe-events-footer h3 { display:none; margin-top:0; font-size:1.5em; }

/* Buttons */
#tribe-events .tribe-events-button, .tribe-events-button,
a.tribe-events-read-more,
.tribe-events-button,
.tribe-events-nav-previous a,
.tribe-events-nav-next a,
.tribe-events-widget-link a,
.tribe-events-viewmore a {
	display:inline-block;
	text-align:center;
	padding:0.85em 1.15em;
	font-size:0.875em;
	line-height: 1.2857em;
	font-weight:700;
	margin:0 0 4px 4px;
	border:none;
	border-radius: 0 !important;
}
a.tribe-events-read-more:hover,
.tribe-events-button:hover,
.tribe-events-nav-previous a:hover,
.tribe-events-nav-next a:hover,
.tribe-events-widget-link a:hover,
.tribe-events-viewmore a:hover {
	border:none;
}

/*#tribe-events .tribe-events-button,*/
li.tribe-events-nav-previous.tribe-events-nav-left a,
li.tribe-events-nav-previous.tribe-events-nav-right a,
.tribe-events-ical.tribe-events-button,
.tribe-events-gcal.tribe-events-button {
	background: #7fd4a7 !important;
}
li.tribe-events-nav-previous.tribe-events-nav-left a:hover,
li.tribe-events-nav-previous.tribe-events-nav-right a:hover,
.tribe-events-ical.tribe-events-button:hover,
.tribe-events-gcal.tribe-events-button:hover {
	background: #282828 !important;
}


/* Widgets */
.tribe-events-list-widget ol { margin:0; padding: 0; }
.tribe-events-list-widget ol li { margin-bottom:1.5em; }
.tribe-events-list-widget .entry-title { font-size: 1.15em; font-weight:400; margin:0; }
.tribe-events-list-widget .duration { font-weight:400; }


/* tribe events bar */
#tribe-events-bar {}
#tribe-bar-form {
	background: none;
}
#tribe-bar-form label {
	font-family: Lato;
	font-size: 1em;
	font-weight: 900;
	text-transform: uppercase;
	color: #282828;
	margin-bottom: 0.75em;
}
#tribe-bar-form #tribe-bar-views label {
	margin-bottom: 1em;
}
#tribe-bar-form input[type="text"] {
	border-style: solid !important;
	border-width: 2px !important;
	border-color: #282828;
	font-family: Crimson Text;
    font-size: 1.286em;
    font-weight: 100;
	font-style: italic;
    padding: 0.7em 0.65em 0.5em 0.65em;
	box-sizing: border-box;
}
#tribe-bar-form input[type="text"]:focus {
	border-style: solid !important;
	border-width: 2px !important;
	border-color: #282828;
	outline: none !important;
}
#tribe-bar-form .tribe-bar-submit {
	padding: 0 15px;
	padding-top: 2.857em;
}
#tribe-bar-form .tribe-bar-submit input[type="submit"] {
	font-family: Lato;
	font-size: 0.857em;
	font-weight: 600;
	border: 1px solid #282828;
	background: #fff;
	color: #282828;
}
#tribe-bar-form .tribe-bar-submit input[type="submit"]:hover {
	background: #282828;
	color: #fff;
}
#tribe-bar-form .tribe-bar-views-inner,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	background: none;
}






#tribe-events #tribe-events-content h2.tribe-events-page-title {
	font-family: Lato;
	font-weight: 600;
}
#tribe-events .tribe-events-calendar thead th {
	font-family: Lato;
	/*font-size: 1.667em;*/
	font-size: 1.25em;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
	background-color: #282828;
}
#tribe-events-content .tribe-events-calendar td {
    border-color: -moz-use-text-color #e0e1e3 #e0e1e3;
	height: 166px;
	min-height: 166px;
}
#tribe-events-content .tribe-events-calendar td:hover {
    background: #7fd4a7;
	box-shadow: none;
}
#tribe-events .tribe-events-calendar div[id*="tribe-events-daynum-"],
#tribe-events .tribe-events-calendar div[id*="tribe-events-daynum-"] a {
	font-family: Lato;
	font-size: 1.667em;
	font-weight: 900;
	color: #282828;
	background: none;
}

#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title {
	font-family: Lato;
	font-size: 1.167em;
	font-weight: 900;
}
#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title a:hover {
	color: #fff !important;
}




/* Tooltip */
.recurring-info-tooltip, 
.tribe-events-calendar .tribe-events-tooltip, 
.tribe-events-week .tribe-events-tooltip {
	box-shadow: none;
	border: 3px solid #7fd4a7;
}
.tribe-events-tooltip .tribe-events-arrow {
	background-image: none;
}
#tribe-events-content .tribe-events-tooltip h4 {
	font-family: Lato;
	font-size: 1.333em;
	line-height: 1.25em;
	font-weight: 900;
	color: #282828;
	margin-bottom: 0.5em;
}
#tribe-events-content .tribe-event-duration {
	font-family: Lato;
	font-size: 1.167em;
	font-weight: 400;
	color: #282828;
	margin-bottom: 0.5em;
}
#tribe-events-content .tribe-events-tooltip .tribe-events-event-thumb {
    padding: 0.25em 1em 0.25em 0;
}


.tribe-events-loop .tribe-events-content {
    padding: 0 0 0 0;
    width: 60%;
}




/* ************************************ */

