<template>
    <div class="chat">
        <FlashMessage :position="'right top'"></FlashMessage>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-2">
                        <button v-if="showBack" class="btn btn-sm btn-dark" @click="backClicked">
                           <i class="fa fa-arrow-left"></i>
                        </button>
                    </div>
                    <div class="col-7">
                        <span> <img v-if="selectedContact && showBack" :src="selectedContact.profile_picture" style="height: 40px; border-radius: 50%;" alt=""> <b>{{ cardHeader }}</b></span>
                    </div>
                    <div class="col-3" v-if="selectedContact && showBack">
                        <span> <span :class="`${selectedContact.active ? 'online' : 'offline'}`">•</span> {{ selectedContact.active ? 'Online' : 'Offline' }} </span>
                    </div>
                </div>
            </div>
            <div v-if="!isMobile" class="card-body">
                <div class="row" style="height: 100%">
                    <div class="col-md-3" style="padding-left: 0;">
                        <scrolly class="side-bar" :style="{ height: '70vh' }">
                            <scrolly-viewport>
                                <ContactList :asset="asset" :contacts="activeContacts" @contactSelected="contactSelected" />
                            </scrolly-viewport>
                            <scrolly-bar axis="y"></scrolly-bar>
                        </scrolly>
                    </div>
                    <Conversation v-if="!isMobile" @messageSend="messageSend" :user="user" :contact="selectedContact" :messages="messages" />
                </div>
            </div>
            <div v-else>
                <router-view :contact="selectedContact" :user="user" :messages="messages" :asset="asset" :contacts="activeContacts"></router-view>
            </div>
        </div>
    </div>
</template>

<script>

import ContactList from './desktop/ContactList';
import Conversation from './desktop/Conversation';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import { Scrolly, ScrollyViewport, ScrollyBar } from 'vue-scrolly';
import {Howl, Howler} from 'howler';
import { isMobile } from 'mobile-device-detect';

Vue.use(Loading);

export default {
    props: {
        user: {
            type: Object,
            required: true
        },
        asset: {
            type: String,
            required: true
        },
        host: {
            type: Object,
            required: true
        }
    },
    components: {ContactList, Conversation, Scrolly, ScrollyViewport, ScrollyBar},
    data(){
        return {
            contacts: [],
            selectedContact: null,
            messages: [],
            loaderState: null,
            sound: null,
            activeUsers: [],
            isMobile: null,
            cardHeader: '',
            showBack: false
        }
    },
    created(){

        this.isMobile = isMobile;
        this.cardHeader = this.isMobile ? 'Contacts' : 'Chat App';

        if(isMobile){
            eventBus.$on('contactSelected', (contact) => {
                this.contactSelected(contact);
            });

            eventBus.$on("sendMessage", (message) => {
                if(!this.selectedContact)
                    return;
                axios.post(route('message.send', {id: this.selectedContact.id}), {message: message})
                    .then((response) => {
                        this.messageSend(response.data);

                        eventBus.$emit("sent");
                    })
                    .catch((error) => {
                        this.flashMessage.error({title: 'Error Occur', message: error});
                        eventBus.$emit("sent");
                    });
            });
        }

        this.handleIncoming();
        this.handleOnline();

        this.loader(true);
        axios.get(route('contacts')).then((response) => {
            this.contacts = response.data;
            let checkContact = this.contacts.findIndex((contact) => contact.id == this.host.id);
            if(checkContact == -1 && this.host.hasOwnProperty('id')){
                this.host.active = false;
                this.contacts.push(this.host);
            }
            this.loader(false);
            if(this.host.hasOwnProperty('id')){
                this.contactSelected(this.host);
            }
        }).catch((error) => {
            this.loader(false);
            this.flashMessage.error({title: 'Error Occur', message: error});
        });
    },
    methods: {
        contactSelected(contact){
            if(this.selectedContact == contact)
                return;

            this.loader(true, this.$refs.conversation);
            axios.get(route('contact.message', {id: contact.id}))
                .then((response) => {
                    this.selectedContact = contact;
                    this.messages = response.data;
                    this.updateUnreadCount(this.selectedContact, true);
                    if(isMobile){
                        this.cardHeader = this.selectedContact.first_name + " " + this.selectedContact.last_name;
                        this.$router.push({path: 'contact'});
                    }
                    this.loader(false);
                }).catch((error) => {
                    this.loader(false);
                    this.flashMessage.error({title: 'Error Occur', message: error});
                })
        },
        backClicked(){
            this.selectedContact = null;
            this.messages = [];
            this.cardHeader = 'Contacts';
            this.$router.push({path: '/'});
        },
        messageSend(message){
            this.messages.push(message);
        },
        handleIncoming(message){
            Echo.private(`message.${this.user.id}`)
            .listen('NewMessage', (e) => {
                var message = e.message;

                if(this.selectedContact && this.selectedContact.id == message.from){
                    this.messageSend(message);
                    this.playSound();
                }
                else {
                    var checkIfContact = this.contacts.findIndex((contact) => contact.id == e.message.from_contact.id);
                    if(checkIfContact == -1){
                        var contactPush = e.message.from_contact;
                        contactPush.unread = 0;
                        this.contacts.push(contactPush);
                    }
                    this.updateUnreadCount(e.message.from_contact, false);
                    this.flashMessage.show({iconClass: 'round-img', title: 'Message From ' + e.message.from_contact.first_name + ' ' + e.message.from_contact.last_name, message: e.message.message, icon: this.asset + '/' + e.message.from_contact.profile_picture})
                    this.playSound();
                }
            })
        },
        playSound(){
            var audio = new Audio('sound.mp3');
            const playPromise = audio.play();

            if (playPromise !== null){
                playPromise.catch(() => {
                    console.log("promise catched");
                    audio.play();
                })
            }
        },
        handleOnline(){
            Echo.join(`online`)
            .here((users) => {
                this.activeUsers = users;
            })
            .joining((user) => {
                this.activeUsers.push(user);
                if(this.selectedContact && user.id == this.selectedContact.id){
                    this.changeStatus(true);
                }
            })
            .leaving((user) => {
                this.activeUsers = this.activeUsers.filter((activeUser) => {
                    if(activeUser.id != user.id)
                        return activeUser;
                });

                if(this.selectedContact && user.id == this.selectedContact.id){
                    this.changeStatus(false);

                }
            });
        },
        changeStatus(status){
            var obj = _.clone(this.selectedContact);
            obj.active = status;
            this.selectedContact = obj;
        },
        updateUnreadCount(contact, reset){
            this.contacts = this.contacts.map((contactOne) => {
                if(contactOne.id != contact.id)
                    return contactOne;

                if(reset)
                    contactOne.unread = 0;
                else
                    contactOne.unread += 1;

                return contactOne;
            });
        },
        loader(condition, component = null){
            if(condition){
                this.loaderState = this.$loading.show({
                    container: null,
                    canCancel: false,
                });
            } else {
                this.loaderState.hide();
                this.loaderState = null;
            }
        }
    },
    computed: {
        activeContacts(){
            var Ids = {};
            this.activeUsers.forEach((activeUser) => {
                Ids[activeUser.id] = activeUser;
            });
            var contacts = this.contacts;
            var activeContacts = contacts.map((contact) => {
                if(Ids[contact.id]){
                    contact.active = true;
                }
                else {
                    contact.active = false;
                }

                return contact;
            });

            return _.sortBy(activeContacts, [(contact) => {
                if(this.selectedContact && this.selectedContact.id == contact.id)
                    return Infinity;
                return contact.unread;
            }]).reverse();

            return activeContacts;
        }
    },
    watch: {
        $route: function() {
            // Check if given route is true, if it is then hide Nav.
            if (this.$route.path === "/contact") {
                this.showBack = true;
                } else  {
                this.showBack = false;
            }
        }
    },

}
</script>

<style scoped>
.side-bar {
    border-right: 1px dotted grey;
}

 .online {
        color: green;
    }

    .offline {
        color: grey;
    }
</style>
